<html>
<head>
    {% load static %}
    <title>KVP Extraction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<style>

.exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

.exTab3 .tab-content {
  padding : 5px 15px;
}

table {
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
}
td,th {
  border: 1px black solid;
  padding: 5px;
}

th {
  color: black;
  border-color: white;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li :hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}


</style>
<body style="overflow-x:hidden;">

<nav class="navbar navbar-inverse navbar-expand-sm">
  <!-- Brand/logo -->
    <a class="navbar-brand" href="{% url 'home' %}" style="position: relative;left: 18px;font-size: 25px;">KVP Extraction</a>
</nav>

<div class="container-fluid" style="position: relative;top: 25px;">
    <h4 style="position: relative;left: 100px;">Select Model:</h4>
        <form class="form-inline" method="post" enctype="multipart/form-data" style="position: relative;left: 100px;">
            {% csrf_token %}
            <div class="form-group">
                <input type="radio" id="BCBS" name="model_name" value="BCBS" required>
                <label for="BCBS">BCBS</label><br>
                <input type="radio" id="Cigna" name="model_name" value="Cigna">
                <label for="Cigna">Cigna</label><br>
                <input type="radio" id="AETNA" name="model_name" value="AETNA">
                <label for="AETNA">AETNA</label><br>
                <input type="radio" id="HUMANA" name="model_name" value="HUMANA">
                <label for="HUMANA">HUMANA</label><br>
                <h4>Chose Files To Upload:</h4>
                <input type="file" id="yourInput" name="files" class="form-control" multiple><br>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit" style="position: relative;top: 74px;">Upload</button>
            </div>
          </form>
        <script>
        $('#yourInput').change(function() {
              var fileList = document.getElementById("yourInput").files;
              console.log(fileList)
              for(var i = 0; i < fileList.length; i++) {
                console.log(fileList[i].name)
                document.getElementById("myUL").innerHTML+='<li>'+fileList[i].name+'</li>'
              }
            });
        </script>
        <br>
        <br>
        <div id="file_menu" style="position: relative;left: 15px;font-weight: bold;font-size: 15px;">
            <ul id="myUL">
            {% for i in file_name%}
                <li>
                    Download CSV For PDF :  {{i}}
                    <a href="media/multiple_files/{{folder}}/{{i}}" class="btn btn-primary" style="margin-left: 500px;">Download CSV</a>
                </li>
            {% endfor %}
            </ul>

        </div>
</div>
<!--        <div class="row">-->
<!--            <div class="col-md-12" style="overflow: auto;">-->
<!--                {% for i in claim_df_html_str%}-->
<!--                    {{i|safe}}-->
<!--                {% endfor %}-->
<!--&lt;!&ndash;                  <div class="exTab3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul  class="nav nav-pills">&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="tab-content clearfix">&ndash;&gt;-->
<!--&lt;!&ndash;                          <div class="tab-pane active" id="2b">&ndash;&gt;-->
<!--&lt;!&ndash;                            <table class="projectSpreadsheet table table-bordered">&ndash;&gt;-->
<!--&lt;!&ndash;                              <thead class="thead-dark">&ndash;&gt;-->
<!--&lt;!&ndash;                                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                  <th scope="col">Parameter</th>&ndash;&gt;-->
<!--&lt;!&ndash;                                  <th scope="col">Value</th>&ndash;&gt;-->
<!--&lt;!&ndash;                                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                              </thead>&ndash;&gt;-->
<!--&lt;!&ndash;                              <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                               {% for i in form_text_1 %}&ndash;&gt;-->
<!--&lt;!&ndash;                                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <td>{{i.label}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <td>{{i.extraction}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                              {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;                              </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                            </table>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                            <a href="#" class="xx" style="text-decoration:none;color:#000;background-color:#ddd;border:1px solid #ccc;padding:8px;">Export KVP To CSV</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                          </div>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--            </div>-->
<!--&lt;!&ndash;          <div class="col-sm-4">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="exTab3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul  class="nav nav-pills">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <li class="active">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <a href="#2b" data-toggle="tab">Output</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="tab-content clearfix">&ndash;&gt;-->
<!--&lt;!&ndash;                          <div class="tab-pane active">&ndash;&gt;-->
<!--&lt;!&ndash;                            <table class="projectSpreadsheet table table-bordered">&ndash;&gt;-->
<!--&lt;!&ndash;                              <thead class="thead-dark">&ndash;&gt;-->
<!--&lt;!&ndash;                                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                  <th scope="col">Parameter</th>&ndash;&gt;-->
<!--&lt;!&ndash;                                  <th scope="col">Value</th>&ndash;&gt;-->
<!--&lt;!&ndash;                                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                              </thead>&ndash;&gt;-->
<!--&lt;!&ndash;                              <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                               {% for i in form_text_2 %}&ndash;&gt;-->
<!--&lt;!&ndash;                                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <td>{{i.label}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <td>{{i.extraction}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                              {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;                              </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                            </table>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                            <a href="#" class="xx" style="text-decoration:none;color:#000;background-color:#ddd;border:1px solid #ccc;padding:8px;">ExportToCSV</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                          </div>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-sm-4">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="exTab3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul  class="nav nav-pills">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <li class="active">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <a href="#2b" data-toggle="tab">Output</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="tab-content clearfix">&ndash;&gt;-->
<!--&lt;!&ndash;                          <div class="tab-pane active">&ndash;&gt;-->
<!--&lt;!&ndash;                            <table class="projectSpreadsheet table table-bordered">&ndash;&gt;-->
<!--&lt;!&ndash;                              <thead class="thead-dark">&ndash;&gt;-->
<!--&lt;!&ndash;                                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                  <th scope="col">Parameter</th>&ndash;&gt;-->
<!--&lt;!&ndash;                                  <th scope="col">Value</th>&ndash;&gt;-->
<!--&lt;!&ndash;                                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                              </thead>&ndash;&gt;-->
<!--&lt;!&ndash;                              <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                               {% for i in form_text_3 %}&ndash;&gt;-->
<!--&lt;!&ndash;                                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <td>{{i.label}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <td>{{i.extraction}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                              {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;                              </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                            </table>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                            <a href="#" class="xx" style="text-decoration:none;color:#000;background-color:#ddd;border:1px solid #ccc;padding:8px;">ExportToCSV</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                          </div>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <script>&ndash;&gt;-->
<!--&lt;!&ndash;      $(document).ready(function () {&ndash;&gt;-->
<!--&lt;!&ndash;          function exportTableToCSV($table, filename) {&ndash;&gt;-->
<!--&lt;!&ndash;                var $rows = $table.find('tr:has(td),tr:has(th)'),&ndash;&gt;-->

<!--&lt;!&ndash;                    // Temporary delimiter characters unlikely to be typed by keyboard&ndash;&gt;-->
<!--&lt;!&ndash;                    // This is to avoid accidentally splitting the actual contents&ndash;&gt;-->
<!--&lt;!&ndash;                    tmpColDelim = String.fromCharCode(11), // vertical tab character&ndash;&gt;-->
<!--&lt;!&ndash;                    tmpRowDelim = String.fromCharCode(0), // null character&ndash;&gt;-->

<!--&lt;!&ndash;                    // actual delimiter characters for CSV format&ndash;&gt;-->
<!--&lt;!&ndash;                    colDelim = '","',&ndash;&gt;-->
<!--&lt;!&ndash;                    rowDelim = '"\r\n"',&ndash;&gt;-->

<!--&lt;!&ndash;                    // Grab text from table into CSV formatted string&ndash;&gt;-->
<!--&lt;!&ndash;                    csv = '"' + $rows.map(function (i, row) {&ndash;&gt;-->
<!--&lt;!&ndash;                        var $row = $(row), $cols = $row.find('td,th');&ndash;&gt;-->

<!--&lt;!&ndash;                        return $cols.map(function (j, col) {&ndash;&gt;-->
<!--&lt;!&ndash;                            var $col = $(col), text = $col.text();&ndash;&gt;-->

<!--&lt;!&ndash;                            return text.replace(/"/g, '""'); // escape double quotes&ndash;&gt;-->

<!--&lt;!&ndash;                        }).get().join(tmpColDelim);&ndash;&gt;-->

<!--&lt;!&ndash;                    }).get().join(tmpRowDelim)&ndash;&gt;-->
<!--&lt;!&ndash;                        .split(tmpRowDelim).join(rowDelim)&ndash;&gt;-->
<!--&lt;!&ndash;                        .split(tmpColDelim).join(colDelim) + '"',&ndash;&gt;-->
<!--&lt;!&ndash;                    // Data URI&ndash;&gt;-->
<!--&lt;!&ndash;                    csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);&ndash;&gt;-->


<!--&lt;!&ndash;                  if (window.navigator.msSaveBlob) { // IE 10+&ndash;&gt;-->
<!--&lt;!&ndash;                    //alert('IE' + csv);&ndash;&gt;-->
<!--&lt;!&ndash;                    window.navigator.msSaveOrOpenBlob(new Blob([csv], {type: "text/plain;charset=utf-8;"}), "csvname.csv")&ndash;&gt;-->
<!--&lt;!&ndash;                  }&ndash;&gt;-->
<!--&lt;!&ndash;                  else {&ndash;&gt;-->
<!--&lt;!&ndash;                    $(this).attr({ 'download': filename, 'href': csvData, 'target': '_blank' });&ndash;&gt;-->
<!--&lt;!&ndash;                  }&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->

<!--&lt;!&ndash;            // This must be a hyperlink&ndash;&gt;-->
<!--&lt;!&ndash;            $(".xx").on('click', function (event) {&ndash;&gt;-->

<!--&lt;!&ndash;                exportTableToCSV.apply(this, [$('.projectSpreadsheet'), 'export.csv']);&ndash;&gt;-->

<!--&lt;!&ndash;                // IF CSV, don't do event.preventDefault() or return false&ndash;&gt;-->
<!--&lt;!&ndash;                // We actually need this to be a typical hyperlink&ndash;&gt;-->
<!--&lt;!&ndash;            });&ndash;&gt;-->

<!--&lt;!&ndash;        });&ndash;&gt;-->
<!--&lt;!&ndash;    </script>&ndash;&gt;-->
<!--  <br>-->
<!--  <br>-->
<!--  <br><br>-->
<!--  <br>-->
<!--  <br>-->
<!--&lt;!&ndash;  <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="col-md-12" style="overflow: auto;">&ndash;&gt;-->

<!--&lt;!&ndash;        {% for i in table_df_html_str%}&ndash;&gt;-->
<!--&lt;!&ndash;            {{i|safe}}&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          <div style="position: relative;width: max-content;left: 30px;">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <table class="projectSpreadsheet table table-bordered">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <thead class="thead-dark">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      <th scope="col">Patient_Name</th>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      <th scope="col">Claim_ID</th>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      <th scope="col">Patient_Acc_No</th>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    </tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  </thead>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <tbody>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <td>{{i}}</td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <td>{{j}}</td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <td>{{p_a}}</td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    </tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  </tbody>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                </table>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <div style="overflow: auto;">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;         &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <br>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <br>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;         {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--  <br>-->
<!--&lt;!&ndash;  <a href="media/csv_new_format.xlsx" style="text-decoration:none;color:#000;background-color:#ddd;border:1px solid #ccc;padding:8px;" download="csv_new_format.xlsx">Export KVP To CSV</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a href="#" class="xx" style="text-decoration:none;color:#000;background-color:#ddd;border:1px solid #ccc;padding:8px;">Export KVP To CSV</a>&ndash;&gt;-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--</div>-->
</body>
</html>